body{
  text-align: center;
  background-color: #94618e;
  color: black;
}
h1{
  color: #f8eee7;
}
p{
 color:#f4decb ; 
}
main{
  border: 1px;
  border-color: white;
}
h2{
  color: white;
}
h3{
  color: white;
}
h4{
  color: white;
}
