*{
  background-color: #0375b4;
}

html {
  font-style: italic
}

body {
  text-align: center;
  font-family: 'roboto', sans-serife;
}

a {
  height: 53px;
  display: flex;
  text-decoration: none;
  margin: 22px;
  margin-left: 22px;
  margin-right: 55px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #ffce00;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
}
a{
  color: black;
}
a:hover {
  background-color: #007849
}

div {
  background-color: white text-align: center;

  padding: 16px;

  border-width: 20px;
}

img {
  border-radius: 50%;
  border: 1px blue solid;
}

footer {
  font-weight: 900;
  color:white
}

h1{
  color:white 
  
}

p{
  color: white;
}
link {height: 53px;
  display: flex;
  text-decoration: none;
  margin: 22px;
  margin-left: 22px;
  margin-right: 55px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #ffce00;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 6px;}
